@model ArtiLib.Entites.DisponibiliteArtisan

@{
    ViewBag.Title = "ArtiLib - Détails de la disponibilité de l'artisan";
}

<h2>Détails de la disponibilité de l'artisan</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdArtisan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdArtisan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHeure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHeure)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste des disponibilités de l'artisan", "Index")
</p>