@model IEnumerable<ArtiLib.Entites.PrestationArtisan>

@{
    ViewBag.Title = "ArtiLib - Liste des prestations de l'artisan";
}

<h2>Liste des prestations de l'artisan</h2>

<p>
    @Html.ActionLink("Ajouter une prestation pour l'artisan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPrestation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdArtisan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourteDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongueDescription)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrestation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArtisan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourteDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongueDescription)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>